body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f57676;
    transition: background-color 0.3s ease;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#movies {
    margin-bottom: 40px;
}

.movie:hover {
    color: rgba(143, 6, 6, 0.578);
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 40px;
}
